<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/css/style_cadastro.css">
    <title>Index</title>
</head>
    <body>
        <header>
            <div id="logo">
                <h1>DB</h1>
            </div>
            <nav>
                <ul>
                    <li>Login</li>
                    <li>Cadastro</li>
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <form>
                    <label for = "nome">Nome:</label>
                    <input type = "text" id = "nome" class="camp" name = "nome" placeholder="Nome">

                    <label for = "telefone">Telefone:</label>
                    <input type = "tel" id = "telefone" class="camp" name="telefone" placeholder="Telefone">

                    <label for = "email">Email:</label>
                    <input type = "email" id = "email" class="camp" name = "email" placeholder="Email">

                    <label for="Esenha">Digite sua senha:</label>
                    <input type = "password" id = "Esenha" class="camp" name = "senha" placeholder="Senha">

                    <label for="Rsenha">Repita sua senha:</label>
                    <input type = "password" id = "Rsenha" class="camp" name = "senha" placeholder="Senha">

                    <input type="submit" id = "enviar">
                </form>
            </div>
        </main>
        <footer></footer>
    </body>
</html>