<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../../static/css/style_lista.css">
        <title>lista</title>
    </head>
    
    <body>
        <header>
            <div id="logo">
                <h1>DB</h1>
            </div>
            <nav>
                <ul>
                    <li>Login</li>
                    <li>Cadastro</li>
                </ul>
            </nav>
        </header>

        <main>
            <div >
                <h2>Clientes cadastrados</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>Email</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Junior</td>
                            <td>(11) 99999-9999</td>
                            <td>junior@email.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>

        <footer>

        </footer>
    </body>
</html>